{% extends "crud/layout.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "single_view_css.css" %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>录入客户</h2>
    <hr>
    <form method="post" novalidate class="form-horizontal" >
    {% csrf_token %}
        {% for field in form %}
            <div class="row">
            <div class="col-sm-1 col-sm-offset-3">{{ field.label }}</div>
            <div class="col-sm-5">{{ field }}</div>
            <div class="col-sm-3">{{ field.errors }}</div>
            </div>
        {% endfor %}
        <input type="submit" value="提交" class="btn btn-primary pull-right">
    </form>

</div>
{% endblock %}